# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.kmw9533_HW_Week05.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\spring2021\codeLab01\week05\kmw9533_HW_Week05\.idea\.idea.kmw9533_HW_Week05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
